{
  "orgProgramDataFolder": "My App",
  "extraFolders": [
    {
      "name": "CustomLogs",
      "path": "Users\\Public\\Documents\\MyLogs"
    },
    {
      "name": "VendorTool",
      "path": "ProgramData\\VendorTool"
    }
  ]
}
